* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.poppins {
    font-family: "Poppins", sans-serif;
}

.container {
    max-width: 1280px;
    margin: auto;
}

img {
    max-width: 100%;
}

.btn {
    background-color: #DD0000;
    border-radius: 5px;
    padding: 16px 25px;
    font-weight: 600;
    color: white;
    border: none;
    font-size: 20px;
}

.hero {
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    border-radius: 15px;
    margin: 80px auto;
}

.hero-left {
    padding-left: 125px;
    flex: 1;
}

.hero-right {
    flex: 1;
}

.hero-right img {
    display: block;
}

.hero-left h2 {
    font-size: 70px;
    font-weight: bold;
    line-height: 80px;
}

.hero-left p {
    color: #FFFFFF;
    margin: 20px 0px;
    max-width: 90%;
}

.upcoming-match {
    display: flex;
    gap: 55px;
}

.upcoming-left {
    background-color: black;
    width: 25%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    border-radius: 10px;
}

.upcoming-left .btn:nth-child(1) {
    background-color: white;
    color: #161616;
}

.upcoming-left .btn:nth-child(2) {
    background-color: white;
    color: #161616;
}

.upcoming-right {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px 56px;
}

.upcoming-right .card {
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}

.upcoming-right .card img {

    height: 175px;
    border-radius: 10px 10px 0 0;
}

.card-paddig {
    padding: 20px;
}

.upcoming-right .card button {
    background-color: none;
    color: black;
    border: 1px solid black;
    padding: 4px 16px;
    border-radius: 5px;
    margin-top: 20px;
}

.upcoming-right .card h2 {
    margin-top: 15px;
    font-size: 18px;
    font-weight: 600px;
}

.card-icon {
    display: flex;
    gap: 40px;
    color: rgba(22, 22, 22, 0.8);
    margin-top: 20px;
}

@media (max-width: 992px) {
    .hero-left h2 {
        font-size: 40px;
        line-height: 50px;
    }

    .hero-left p {
        font-size: 14px;
        line-height: 24px;
    }

    .upcoming-match {
        flex-direction: column;
    }

    .upcoming-left {
        flex-direction: row;
        width: 100%;
        background-color: transparent;
    }

    .upcoming-left>* {
        flex: 1;
    }

    .upcoming-left button {
        border: 1px solid #E8E8E8;
    }

    .upcoming-right {
        grid-template-columns: repeat(2, 1fr);
        margin: 0px 50px 30px 50px;
    }
}

@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        text-align: center;
        border-radius: 10px;
    }

    .hero-left {
        margin-bottom: 25px;
        padding-left: 0;
        padding-top: 28px;
    }

    .hero-left p {
        margin: 25px auto;
    }

    .upcoming-right {
        grid-template-columns: repeat(1, 1fr);
    }
    .upcoming-left {
        flex-direction: column;
        width: fit-content;
        text-align: center;
        margin: 0 auto;
    }
}